#chat {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(241, 241, 241, 0.6);

  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 18px;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgba(208, 208, 208, 0.6);

    i {
      cursor: pointer;
      margin: 0 4px;
      color: $primary-color-8_5;
      font-size: 24px;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    height: 70px;
    border-bottom-right-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);

    .guest {
      flex: 1;
      text-align: center;
      letter-spacing: 1px;
      b {
        cursor: pointer;
        color: $primary-color-10;
      }
    }

    .chat-input {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;

      .emoji-box {
        position: absolute;
        top: 0;
        left: -20px;
        display: flex;
        flex-wrap: wrap;
        padding: 6px 0;
        width: 440px;
        height: 200px;
        overflow: auto;
        user-select: none;
        border-radius: 3px;
        box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.1);
        background-color: #fff;
        transform: translateY(-100%);

        li {
          cursor: pointer;
          margin: 4px;
          width: 28px;
          height: 28px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .menu {
        display: inline-block;
        width: 44px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        .icon {
          cursor: pointer;
          font-size: 24px;
          color: #a5b5c0;
          transition: color 0.2s ease;
        }

        &.active,
        &:hover {
          .icon {
            color: $primary-color-10;
          }
        }
      }

      input {
        flex: 1;
        margin: 0 10px;
        padding: 0px 8px;
        height: 32px;
        line-height: 32px;
        outline: none;
        font-size: 14px;
        color: #777;
        border: 1px solid rgba(208, 208, 208, 0.5);
      }
    }
  }

  .members {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;

    &.show {
      transform: translateX(0);
    }

    .head {
      position: relative;
      height: 70px;
      line-height: 70px;
    }

    .icon {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 16px;
      font-size: 18px;
    }

    .title {
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      color: #666;
      border-bottom: 1px solid #e8e8e8;
    }
  }
}

.message-list {
  flex: 1;
  padding: 8px 10px 0 10px;
  overflow-y: auto;
  overflow-x: hidden;

  .msg {
    display: flex;
    position: relative;
    margin-right: 54px;
    margin-bottom: 10px;
  }

  .avatar {
    margin-top: 6px;
    min-width: 44px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 12px;
    overflow: hidden;

    .info {
      display: flex;
      align-items: flex-end;
      height: 20px;
    }

    .nickname {
      margin-right: 6px;
      color: #333;
      font-size: 13px;
    }

    .time {
      color: #666;
      font-size: 12px;
    }

    .content {
      display: flex;
      position: relative;
      max-width: -webkit-fill-available;

      > div {
        display: inline-block;
        margin-top: 3px;
        padding: 6px 8px;
        min-height: 28px;
        max-width: -webkit-fill-available;
        font-size: 14px;
        color: #555;
        border-radius: 8px;
        border-top-left-radius: 0px;
        background-color: rgba(255, 255, 255, 0.8);
      }

      .emoji {
        margin: 0 4px;
        width: 28px;
        height: 28px;
      }
    }
  }

  .user {
    .right {
      &::before {
        content: '';
        position: absolute;
        top: 23px;
        left: 49px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 15px 0;
        border-color: transparent rgba(255, 255, 255, 0.8) transparent transparent;
      }
    }
  }

  .me {
    flex-direction: row-reverse;
    margin-right: 0px;
    margin-left: 54px;

    .right {
      margin-left: 0px;
      margin-right: 12px;
      align-items: flex-end;

      &::before {
        content: '';
        position: absolute;
        top: 23px;
        right: 49px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 15px 7px;
        border-color: transparent transparent transparent $primary-color-10;
      }

      .info {
        flex-direction: row-reverse;
      }

      .nickname {
        margin-right: 0;
        margin-left: 4px;
      }

      .content {
        flex-direction: row-reverse;
        padding-right: 0;

        > div {
          color: #fff;
          border-top-left-radius: 8px;
          border-top-right-radius: 0px;
          background-color: $primary-color-10;
        }
      }
    }

    .failed {
      &::before {
        border-color: transparent transparent transparent $failed;
      }

      .content {
        > div {
          background-color: $failed;
        }
      }
    }
  }
}
