* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: $selection-bg;
  color: $selection-color;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  color: $text-color;
  line-height: $line-height-base;
  user-select: none;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  // 该属性值在移动设备上会造成比较明显的性能问题
  text-rendering: optimizeLegibility;
}

#app {
  min-height: 100vh;
  overflow-x: hidden;
}

.i-scroll {
  @include scrollBar;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  word-wrap: break-word;
}

button {
  outline: none;
}

a,
button,
.cursor {
  @include cursor-link;
}

input,
textarea,
button {
  appearance: none;
  border: none;
  outline: none;
  border-radius: 0;
}

ul,
ol {
  list-style: none;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: $zindex-3;

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(55, 55, 55, 0.6);
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: auto;
    border-radius: 6px;
    background-color: #fff;
    transform: translate(-50%, -50%);
  }

  .head {
    display: flex;
    padding: 12px 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e9e9e9;

    i {
      cursor: pointer;
      font-size: 20px;
    }
  }

  .body {
    padding: 20px;
    max-height: 70vh;
    overflow-y: auto;
  }
}
